@mixin root {
	position: relative;
	transition: all;
	transition-duration: 200ms;

	&::before {
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;
		background: currentColor;
		opacity: 0;
		content: "";
	}
}

@mixin hover {
	&::before {
		opacity: 0.2;
	}
}

@mixin active {
	transition: none;

	&::before {
		opacity: 0.4;
	}
}

%root {
	@include root;
}

%hover {
	@extend %root;

	@media (hover: hover) {
		&:hover {
			@include hover;
		}
	}

	&:active {
		@include active;
	}
}

%active {
	@extend %hover;

	&:active {
		scale: 95%;
	}
}
