---
import "$lib/commons/assets/global.scss";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
	skipCache?: boolean;
}

const { title, skipCache } = Astro.props;

if (!skipCache) {
	Astro.response.headers.set("Vary", "Cookie");
	Astro.response.headers.set("Cache-Control", "private, max-age=3600");
}

if (Astro.request.headers.get("Cache-Control")) {
	Astro.cookies.set("version", Date.now().toString());
}
---

<html lang="en">
	<head>
		<title>{title}</title>
		<meta name="description" content={title} />
		<meta name="theme-color" content="#000000" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
		<meta charset="utf-8" />
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="apple-touch-icon" href="/assets/192x192.png" />
		<link rel="manifest" href="/assets/manifest.json" />
		<ViewTransitions />
	</head>

	<body>
		<slot />

		<script>
			if (import.meta.env.PROD && navigator.serviceWorker) {
				navigator.serviceWorker.register("/service-worker.js");
			}
		</script>
	</body>
</html>
