@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	position: absolute;
	width: 100%;
	height: 100%;
	background: theme(colors.black);
	color: theme(colors.white);
	font-family: sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

input {
	all: unset;
	color-scheme: dark;
}

@layer utilities {
	.hover-opacity {
		@apply relative transition-all before:absolute before:inset-0 before:h-full before:w-full before:bg-current before:opacity-0 before:content-[''] hover:before:opacity-20 active:transition-none active:before:opacity-40;
	}

	.active-scale {
		@apply hover-opacity active:scale-90;
	}
}
