@use "$lib/commons/theme";

html {
	color-scheme: dark;
	scrollbar-gutter: stable;
}

body {
	margin: 0;
	background: black;
	color: white;
	font-family: sans-serif;
	-webkit-tap-highlight-color: transparent;
}

input,
button,
a {
	all: unset;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
}
